<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>

    <!-- Navigation -->
    {{ template "navigation" "/compare" }}

    <section class="py-5">
        <div class="container">
            <h1>Compare</h1>

            <div class="main">
                <form type="GET" action="/compare">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Reference commit SHA" name="r">
                        <input type="text" class="form-control" placeholder="Compare commit SHA" name="c">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                Compare
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            {{ if .compare }}
                <h2>Comparing <a href="https://github.com/vitessio/vitess/commit/{{ .compare.SHA }}" target="_blank">{{.compare.short}}</a> with <a href="https://github.com/vitessio/vitess/commit/{{ .reference.SHA }}" target="_blank">{{.reference.short}}</a>.</h2>
            {{ end }}
        </div>
    </section>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


  {{template "footerHTML" .}}

</body>

</html>
