<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>
    {{ template "navigation" .url }}

    <section class="py-5">
      <div class="container">
        <h3 class="text-center">Sorry, an error occurred.</h3>
        <p class="text-center lead">You may try again or navigate to the <a href="/">home page</a>.</p>
      </div>
    </section>
</body>

</html>
