<!--
Copyright 2021 The Vitess Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
{{define "headHTML"}}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ $isHome        := .IsHome }}
  {{ $isDoc         := eq .Section "docs" }}
  
  <meta name="description" content="Scalable. Reliable. MySQL-compatible. Cloud-native. Database." />
  <meta property="og:title" content="Vitess | Benchmark">
  {{ if $isDoc }}
  <meta property="og:type" content="documentation">
  {{ end }}
  <meta property="og:url" content="https://benchmark.vitess.io/">
  <meta property="og:locale" content="en_US">
  {{ if not $isHome }}
  <meta property="og:site_name" content="Vitess | Benchmark">
  {{ end }}
  <meta property="og:description" content="Scalable. Reliable. MySQL-compatible. Cloud-native. Database.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="../static/img/vitess-horizontal.png">
  <meta property="og:image:alt" content="Vitess project logo">
  <meta property="og:image:type" content="image/png">

  <!-- Twitter Card metadata -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@vitessio">
  <meta name="twitter:creator" content="@vitessio">
  <link rel="canonical" href="https://benchmark.vitess.io/">
  <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">

  <title>Vitess Benchmark</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/full-width-pics.css" rel="stylesheet">


  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>
{{end}}
