<!--
Copyright 2021 The Vitess Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>
  <!-- Loader for home page only -->
    <!-- Navigation -->
  <div style="min-height: 90vh;">
    {{ template "navigation" "/" }}
  <section class="py-5" style="padding-top: 10px !important;">
    <div class="container">
      <h1>Are We Fast Yet</h1>
      <p class="lead"></p>
      <p>
        Automated benchmarking system that tests <a href="https://vitess.io" target="_blank">Vitess</a>'s performance on a nightly basis.
        Providing adopters and maintainers a clear vision of how Vitess is performing throughout different releases is the goal of arewefastyet.
        To achieve this, the system runs a variety of benchmarks every night. The default branch, pull requests impacting performance, release branches, and tags are all automatically tested when needed.
      </p>
      <p>
        Our benchmarks are divided in two category: <b>micro</b> and <b>macro</b>.
        Microbenchmarks are responsible for a small portion of the codebase, usually a single function. We use golang's testing library to write and execute these benchmarks.
        On the other hand, macrobenchmarks can be referred as end to end benchmarks, they test the entire codebase. We use sysbench to enable our macrobenchmarks.
      </p>
      <p>
        Our benchmarks are executed on <code>m2.xlarge.x86</code> baremetal servers provided by <a href="https://metal.equinix.com" target="_blank">Equinix Metal</a>. The server's specs can be found <a href="https://metal.equinix.com/developers/docs/servers/server-specs/#m2xlargex86" target="_blank">here</a>.
        To improve our results' reliability, we provision a new server for each new benchmark and tear it down once the benchmark is completed.
      </p>
      <p>
        This website and arewefastyet code can all be found on GitHub (<a href="https://github.com/vitessio/arewefastyet" target="_blank">vitessio/arewefastyet</a>).
      </p>
      <h4>Navigation</h4>
      <ul>
        <li><a href="/cron">Nightly macrobenchmark cron history.</a></li>
        <li><a href="/search">Search for a commit.</a></li>
        <li><a href="/compare">Compare two commits.</a></li>
        <li><a href="/microbench">Microbenchmarks results.</a></li>
        <li><a href="/macrobench">Macrobenchmarks results.</a></li>
        <li><a href="/v3_VS_Gen4">Compare between v3 and Gen4 planners.</a></li>
      </ul>
    </div>
  </section>

  </div>
  {{template "footerHTML" .}}
</body>

</html>
