<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>
  <!-- Loader for home page only -->
    <!-- Navigation -->
    {{ template "navigation" "/" }}


    <!--------------------------------------------------------------------------- OLTP ---------------------------------------------------------------------------------------------->

    <section class="py-5">
      <div class="container">
        <h1>SYSBENCH OLTP BENCHMARK</h1>
        <p class="lead"></p>
        <p>The Sysbench OLTP application benchmark runs on top of a MySQL database running the InnoDB storage engine.
          The
          job of the storage engine is to manage the interface from the on-disk
          database to the applications reading and writing data to and from the storage engine. The storage engine in
          turn
          manages IO threads and logs, and it keeps an in-memory cache to minimize
          disk access.</p>
        <p>Sysbench is a system performance benchmark that includes an OnLine Transaction Processing (OLTP) test
          profile.
          The OLTP test is not an approximation of an OLTP test, but is rather a
          true database-backed benchmark that conducts transactional queries to an instance of MySQL in a CentOS
          environment.</p>
      </div>
    </section>

    <!--------------------------------------------------------------------------- OLTP TPS ---------------------------------------------------------------------------------------------->

    <section class="py-5">
      <div class="container">
        <h3>TPS (Transactions per second) - OLTP</h3>
        <p class="lead"></p>
        <p></p>
      </div>
    </section>
    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="">
      <canvas id="tps" height="100"></canvas>
    </header>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------- OLTP QPS ------------------------------------------------------------------------------------------------>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h3>QPS (Queries per second) - OLTP</h3>
        <p class="lead"></p>
        <p></p>
      </div>
    </section>

    <header class="py-5 bg-image-full" style="">
      <canvas id="qps" height="100"></canvas>
    </header>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------- OLTP LATENCY ------------------------------------------------------------------------------------------------>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h3>Latency (Milliseconds) - OLTP</h3>
        <p class="lead"></p>
        <p></p>
      </div>
    </section>

    <header class="py-5 bg-image-full" style="">
      <canvas id="latency" height="100"></canvas>
    </header>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------- TPCC ------------------------------------------------------------------------------------------------>

    <section class="py-5">
      <div class="container">
        <h1>TPC-C BENCHMARK</h1>
        <p class="lead"></p>
        <p>"Despite being 25 years old, the TPC-C benchmark can still provide an interesting intensive workload for a
          database in my opinion. It runs multi-statement transactions
          and is write-heavy. We also decided to use Sysbench 1.0, which allows much more flexible LUA scripting that
          allows us to implement TPCC-like workload."</p>
        <p><a href="https://www.percona.com/blog/2018/03/05/tpcc-like-workload-sysbench-1-0/">Percona blog</a></p>
      </div>
    </section>

    <!----------------------------------------------------------------------------- TPCC TPS ----------------------------------------------------------------------------------------------->

    <section class="py-5">
      <div class="container">
        <h3>TPS (Transactions per second) - TPCC</h3>
        <p class="lead"></p>
        <p></p>
      </div>
    </section>

    <!-- Header - set the background image for the header in the line below -->
    <header class="py-5 bg-image-full" style="">
      <canvas id="tps_tpcc" height="100"></canvas>
    </header>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------- TPCC QPS----------------------------------------------------------------------------------------------->

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h3>QPS (Queries per second)- TPCC</h3>
        <p class="lead"></p>
        <p></p>
      </div>
    </section>

    <header class="py-5 bg-image-full" style="">
      <canvas id="qps_tpcc" height="100"></canvas>
    </header>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------- TPCC LATENCY ------------------------------------------------------------------------------------------>

    <!-- Content section -->
    <section class="py-5">
      <div class="container">
        <h3>Latency (Milliseconds) - TPCC</h3>
        <p class="lead"></p>
        <p></p>
      </div>
    </section>

    <header class="py-5 bg-image-full" style="">
      <canvas id="latency_tpcc" height="100"></canvas>
    </header>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

  {{template "footerHTML" .}}

  <!-- Chart JS code -->

  <script>

    //--------------------------------------------------------- OLTP GRAPH ----------------------------------------------------------------------------


    graph_oltp = {{ .data_oltp }}
    label_oltp = []
    data_tps = []
    latency = []
    total = []
    reads = []
    writes = []
    others = []

    for (var i = 0; i < graph_oltp.length; i++) {
        data_tps.push(graph_oltp[i].Result.TPS);
        latency.push(graph_oltp[i].Result.Latency);
        total.push(graph_oltp[i].Result.Total)
        reads.push(graph_oltp[i].Result.Reads)
        writes.push(graph_oltp[i].Result.Writes)
        others.push(graph_oltp[i].Result.Others)

        label_oltp.push(graph_oltp[i].GitRef + " | " + graph_oltp[i].CreatedAt);
    }

    //---------------------------------------------------------------------------------------------------------------------------------------------
    //------------------------------------------------------------- OLTP TPS ----------------------------------------------------------------------

    var ctx = document.getElementById('tps').getContext('2d');

    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: label_oltp,
        datasets: [{
          label: 'TPS (Transactions per second)',
          borderColor: 'orange',
          data: data_tps
        },
        ]
      },

      // Configuration options go here
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
              display: false, //this will remove only the label
              padding: 4,
            },
          }],
          yAxes: [{
            ticks: {
              min: 0
            },
          }]
        }
      }
    });

    //---------------------------------------------------------------------------------------------------------------------------------------------
    //------------------------------------------------------------- OLTP QPS ----------------------------------------------------------------------

    var ctx = document.getElementById('qps').getContext('2d');

    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: label_oltp,
        datasets: [{
          label: 'total',
          borderColor: 'red',
          data: total
        },
        {
          label: 'reads',
          borderColor: 'blue',
          data: reads
        },
        {
          label: 'writes',
          borderColor: 'green',
          data: writes
        },
        {
          label: 'others',
          borderColor: 'purple',
          data: others
        }
        ]
      },

      // Configuration options go here
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
              display: false, //this will remove only the label
              padding: 4,
            },
          }],
          yAxes: [{
            ticks: {
              min: 0
            },
          }]
        }
      }
    });

    //------------------------------------------------------------------------------------------------------------------------------------------------
    //------------------------------------------------------------- OLTP LATENCY----------------------------------------------------------------------

    var ctx = document.getElementById('latency').getContext('2d');

    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: label_oltp,
        datasets: [{
          label: 'latency',
          borderColor: 'black',
          data: latency
        },
        ]
      },

      // Configuration options go here
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
              display: false, //this will remove only the label
              padding: 4,
            },
          }],
          yAxes: [{
            ticks: {
              min: 0
            },
          }]
        }
      }
    });

    //---------------------------------------------------------------------------------------------------------------------------------------------
    //---------------------------------------------------------------------------------------------------------------------------------------------
    //------------------------------------------------------------ TPC-C --------------------------------------------------------------------------

    graph_tpcc = {{ .data_tpcc }}
    label_tpcc = []
    data_tps = []
    latency = []
    total = []
    reads = []
    writes = []
    others = []

    for (var i = 0; i < graph_tpcc.length; i++) {
        data_tps.push(graph_tpcc[i].Result.TPS);
        latency.push(graph_tpcc[i].Result.Latency);
        total.push(graph_tpcc[i].Result.Total)
        reads.push(graph_tpcc[i].Result.Reads)
        writes.push(graph_tpcc[i].Result.Writes)
        others.push(graph_tpcc[i].Result.Others)

        label_tpcc.push(graph_tpcc[i].GitRef + " | " + graph_tpcc[i].CreatedAt);
    }

    //------------------------------------------------------------- TPCC TPS----------------------------------------------------------------------

    var ctx = document.getElementById('tps_tpcc').getContext('2d');

    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: label_tpcc,
        datasets: [{
          label: 'TPS (Transactions per second)',
          borderColor: 'orange',
          data: data_tps
        },
        ]
      },

      // Configuration options go here
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
              display: false, //this will remove only the label
              padding: 4,
            },
          }],
          yAxes: [{
            ticks: {
              min: 0
            },
          }]
        }
      }
    });

    //---------------------------------------------------------------------------------------------------------------------------------------------
    //------------------------------------------------------------- TPCC QPS-----------------------------------------------------------------------

    var ctx = document.getElementById('qps_tpcc').getContext('2d');

    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: label_tpcc,
        datasets: [{
          label: 'total',
          borderColor: 'red',
          data: total
        },
        {
          label: 'reads',
          borderColor: 'blue',
          data: reads
        },
        {
          label: 'writes',
          borderColor: 'green',
          data: writes
        },
        {
          label: 'others',
          borderColor: 'purple',
          data: others
        }
        ]
      },

      // Configuration options go here
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
              display: false, //this will remove only the label
              padding: 4,
            },
          }],
          yAxes: [{
            ticks: {
              min: 0
            },
          }]
        }
      }
    });

    //-------------------------------------------------------------------------------------------------------------------------------------------------
    //------------------------------------------------------------- TPCC LATENCY-----------------------------------------------------------------------

    var ctx = document.getElementById('latency_tpcc').getContext('2d');

    var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'line',

      // The data for our dataset
      data: {
        labels: label_tpcc,
        datasets: [{
          label: 'latency',
          borderColor: 'black',
          data: latency
        },
        ]
      },

      // Configuration options go here
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
              display: false, //this will remove only the label
              padding: 4,
            },
          }],
          yAxes: [{
            ticks: {
              min: 0
            },
          }]
        }
      }
    });

  //-------------------------------------------------------------------------------------------------------------------------------------------------
  //---------------------------------------------------------------------------------------------------------------------------------------------

  </script>

</body>

</html>
