<!--
Copyright 2021 The Vitess Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>
    <div style="min-height: 90vh;">
    <!-- Navigation -->
    {{ template "navigation" "/macrobench" }}

        <section class="py-4">
            <div class="container">
                <div class="card rounded">
                    <h2 class="text-center card-header">Compare Query Plans</h2>
                    <div class="card-body">
                        <p class="lead">
                            Comparing the query plans of two <b>{{ .macroType }}</b> benchmarks: <b>A</b> and <b>B</b>.
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <b>A</b> benchmarked commit <b><a href="https://github.com/vitessio/vitess/commit/{{ .gitRefLeft.SHA }}" target="_blank">{{ .gitRefLeft.short }}</a></b> using the <b>{{ .plannerLeft }}</b> query planner.
                                </li>
                                <li class="list-group-item">
                                    <b>B</b> benchmarked commit <b><a href="https://github.com/vitessio/vitess/commit/{{ .gitRefRight.SHA }}" target="_blank">{{ .gitRefRight.short }}</a></b> using the <b>{{ .plannerRight }}</b> query planner.
                                </li>
                            </ul>
                        </p>
                        <p>Queries are ordered from the slowest to the fastest. The 50 slowest queries are shown.</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container" style="padding-bottom: 15px;">
            {{if not .plansComparison }}
            <h5 class="text-center mt-2">Sorry, there is no query reported for this configuration.</h5>
            {{end}}

            <div class="row">
                <div class="col-5">
                    <div class="list-group" id="list-of-plans" role="tablist">
                        {{ range $i, $plan := .plansComparison }}
                        <a class="list-group-item list-group-item-action {{if eq $i 0}}active{{end}}" id="list-{{$i}}-list" data-toggle="list" href="#list-{{$i}}" role="tab" aria-controls="home">
                            <div class="d-flex justify-content-between align-items-center">
                                <small><samp>{{$plan.Key}}</samp></small>
                                {{ if and $plan.Left $plan.Right }}
                                    {{if and (gt $plan.Left.Value.Errors 0) (gt $plan.Right.Value.Errors 0) }}
                                        <span class="badge badge-pill badge-danger">Both Have Errors</span>
                                    {{ else if gt $plan.Left.Value.Errors 0 }}
                                        <span class="badge badge-pill badge-danger">A Has Errors</span>
                                    {{ else if gt $plan.Right.Value.Errors 0 }}
                                        <span class="badge badge-pill badge-danger">B Has Errors</span>
                                    {{ end }}
                                {{ else if $plan.Left }}
                                    {{ if gt $plan.Left.Value.Errors 0 }}
                                        <span class="badge badge-pill badge-danger">A Has Errors</span>
                                    {{ end }}
                                    <span class="badge badge-pill badge-info">Only A</span>
                                {{ else if $plan.Right }}
                                    {{ if gt $plan.Left.Value.Errors 0 }}
                                        <span class="badge badge-pill badge-danger">B Has Errros</span>
                                    {{ end }}
                                    <span class="badge badge-pill badge-info">Only B</span>
                                {{ end }}
                            </div>
                        </a>
                        {{ end }}
                    </div>
                </div>
                <div class="col-7">
                    <div class="tab-content" id="nav-tabContent">
                        {{ range $i, $plan := .plansComparison }}
                        <div class="tab-pane fade {{if eq $i 0}}show active{{end}}" id="list-{{$i}}" role="tabpanel" aria-labelledby="list-{{$i}}-list">
                            <div class="card">
                                <h5 class="card-header">Statistics</h5>
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                        <tr style="border-top-style: hidden;">
                                            <th scope="row">Query</th>
                                            <td colspan="3"><samp class="text-muted user-select-all">{{$plan.Key}}</samp></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table">
                                        <thead>
                                        <tr style="border-top-style: hidden;">
                                            <th scope="col"></th>
                                            <th scope="col">A</th>
                                            <th scope="col">B</th>
                                            <th scope="col">Diff (A minus B)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">Execution Count</th>
                                            <td>{{if $plan.Left}}{{$plan.Left.Value.ExecCount}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.ExecCount}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.ExecCount}}{{else}}N/A{{end}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Execution Time</th>
                                            <td>{{if $plan.Left}}{{$plan.Left.Value.ExecTime}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.ExecTime}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.ExecTime}}{{else}}N/A{{end}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Rows Returned</th>
                                            <td>{{if $plan.Left}}{{$plan.Left.Value.RowsReturned}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.RowsReturned}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.RowsReturned}}{{else}}N/A{{end}}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Errors</th>
                                            <td>{{if $plan.Left}}{{$plan.Left.Value.ExecCount}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.ExecCount}}{{else}}N/A{{end}}</td>
                                            <td>{{if $plan.Right}}{{$plan.Right.Value.ExecCount}}{{else}}N/A{{end}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {{ if $plan.Left }}
                            <div class="card" style="margin-top: 30px">
                                <h5 class="card-header">Query Plan A</h5>
                                <div class="card-body" style="white-space: pre-wrap;"><samp>{{toString $plan.Left.Value.Instructions}}</samp></div>
                            </div>
                            {{ end }}
                            {{ if $plan.Right }}
                            <div class="card" style="margin-top: 30px">
                                <h5 class="card-header">Query Plan B</h5>
                                <div class="card-body" style="white-space: pre-wrap;"><samp>{{toString $plan.Right.Value.Instructions}}</samp></div>
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{template "footerHTML" .}}

</body>

</html>
