<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>

    <!-- Navigation -->
    {{ template "navigation" "/microbench" }}

    <!--------------------------------------------------------------------------- Information ---------------------------------------------------------------------------------------------->

    <section class="py-5">
        <div class="container">
            <h1>Microbenchmarks</h1>
            <p class="lead">Displaying results for commit hash {{ .currentSHA }}</p>
            <a href="https://github.com/vitessio/vitess/commit/{{ .currentSHA }}" target="_blank">See commit on GitHub.</a>
        </div>

        <div class="container">
            <table class="table table-striped table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Package</th>
                        <th scope="col">Benchmark Name</th>
                        <th scope="col" colspan="2" class="text-center">nanosecond/op</th>
                    </tr>
                </thead>
                <tbody>
                {{range $val := .resultMatrix}}
                    <tr>
                        <td>{{ $val.PkgName }}</td>
                        <td><a href="https://github.com/vitessio/vitess/search?q={{ $val.Name }}&type=code" target="_blank">{{ $val.Name }}</a></td>
                        <td class="text-right">{{ $val.Current.NSPerOp }}</td>
                        <td class="text-right">{{ $val.Last.NSPerOp }}</td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </section>

    {{template "footerHTML" .}}

</body>

</html>
