<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>

    <!-- Navigation -->
    {{ template "navigation" "/search" }}

<!--------------------------------------------------------------------------- SEARCH USING COMMIT HASH ---------------------------------------------------------------------------------------------->

    <section class="py-5">
        <div class="container">
            <div class="main">
                <form type="GET" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search using commit SHA" name="s">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>



            {{ if .search}}

                <!-- Macro -->

                <!-- Micro -->
                <h1>Micro benchmarks</h1>
                {{ if .microbenchmark }}
                    <table class="table table-striped table-hover table-sm table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Benchmark Name</th>
                            <th scope="col" class="text-center">number of iterations</th>
                            <th scope="col" class="text-center">nanosecond/op</th>
                            <th scope="col" class="text-center">B/op</th>
                            <th scope="col" class="text-center">MB/s</th>
                            <th scope="col" class="text-center">Allocs/op</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $val := .microbenchmark}}
                        <tr>
                            <td>{{ $val.PkgName }}</td>
                            <td><a href="https://github.com/vitessio/vitess/search?q={{ $val.Name }}&type=code" target="_blank">{{ $val.Name }}</a></td>
                            <td class="text-right">{{ $val.Result.OpsStr }}</td>
                            <td class="text-right">{{ $val.Result.NSPerOpStr }}</td>
                            <td class="text-right">{{ $val.Result.MBPerSecStr }}</td>
                            <td class="text-right">{{ $val.Result.BytesPerOpStr }}</td>
                            <td class="text-right">{{ $val.Result.AllocsPerOpStr }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                {{ else if not .microbenchmark }}
                    <div class="alert alert-warning" role="alert">
                        No micro benchmark results. You can <a href="/request_benchmark?s={{ .search }}&type=microbench">request</a> a run.
                    </div>
                {{ end }}

            {{ end }}


          </div>


            <!----------------------------------------------------------------------------------------------->
    </section>

  {{template "footerHTML" .}}

</body>

</html>
