<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>

    <!-- Navigation -->
    {{ template "navigation" "/search" }}

<!--------------------------------------------------------------------------- SEARCH USING COMMIT HASH ---------------------------------------------------------------------------------------------->

    <section class="py-5">
        <div class="container">
            <div class="main">
                <form type="GET" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search using commit SHA" name="s">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>



            {{ if .search}}

                <!-- Macro -->

                <!-- Micro -->
                <h1>Micro benchmarks</h1>
                {{ if .microbenchmark }}
                    <p>results</p>
                {{ else if not .microbenchmark }}
                    <div class="alert alert-warning" role="alert">
                        No micro benchmark results. You can <a href="/request_benchmark?s={{ .search }}&type=microbench">request</a> a run.
                    </div>
                {{ end }}

            {{ end }}


          </div>


            <!----------------------------------------------------------------------------------------------->
    </section>

  {{template "footerHTML" .}}

</body>

</html>
