<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>

    <!-- Navigation -->
    {{ template "navigation" "/search" }}

<!--------------------------------------------------------------------------- SEARCH USING COMMIT HASH ---------------------------------------------------------------------------------------------->

    <section class="py-5">
        <div class="container">
            <h1>Search</h1>

            <div class="main">
                <form type="GET" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search using commit SHA" value="{{.search}}" name="s">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>



            {{ if .search}}
                <h2>Results for commit <a href="https://github.com/vitessio/vitess/commit/{{ .search }}" target="_blank">{{.shortSHA}}</a>.</h2>

                <!-- Macro -->
                <h3>Macro benchmarks</h3>
                {{ if .macrobenchmark }}
                    {{ range $key, $val := .macrobenchmark }}
                        <h4>{{ $key.ToUpper }}</h4>
                        <table class="table table-striped table-hover table-sm table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">QPS Total</th>
                                <th scope="col" class="text-center">QPS Reads</th>
                                <th scope="col" class="text-center">QPS Writes</th>
                                <th scope="col" class="text-center">QPS Other</th>
                                <th scope="col" class="text-center">TPS</th>
                                <th scope="col" class="text-center">Latency</th>
                                <th scope="col" class="text-center">Errors</th>
                                <th scope="col" class="text-center">Reconnects</th>
                                <th scope="col" class="text-center">Time</th>
                                <th scope="col" class="text-center">Threads</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range $elem := $val }}
                            <tr>
                                <td class="text-right">{{ $elem.Result.QPS.TotalStr }}</td>
                                <td class="text-right">{{ $elem.Result.QPS.ReadsStr }}</td>
                                <td class="text-right">{{ $elem.Result.QPS.WritesStr }}</td>
                                <td class="text-right">{{ $elem.Result.QPS.OtherStr }}</td>
                                <td class="text-right">{{ $elem.Result.TPSStr }}</td>
                                <td class="text-right">{{ $elem.Result.LatencyStr }}</td>
                                <td class="text-right">{{ $elem.Result.ErrorsStr }}</td>
                                <td class="text-right">{{ $elem.Result.ReconnectsStr }}</td>
                                <td class="text-right">{{ $elem.Result.TimeStr }}</td>
                                <td class="text-right">{{ $elem.Result.ThreadsStr }}</td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    {{ end }}
                {{ else if not .macrobenchmark }}
                    <div class="alert alert-warning" role="alert">
                        No macro benchmark results. You can <a href="/request_benchmark?s={{ .search }}&type=macrobench">request</a> a run.
                    </div>
                {{ end }}

                <!-- Micro -->
                <h3>Micro benchmarks</h3>
                {{ if .microbenchmark }}
                    <table class="table table-striped table-hover table-sm table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Package</th>
                            <th scope="col">Benchmark Name</th>
                            <th scope="col" class="text-center">Number of Iterations</th>
                            <th scope="col" class="text-center">Time/op</th>
                            <th scope="col" class="text-center">B/op</th>
                            <th scope="col" class="text-center">MB/s</th>
                            <th scope="col" class="text-center">Allocs/op</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $val := .microbenchmark}}
                        <tr>
                            <td>{{ $val.PkgName }}</td>
                            <td><a href="https://github.com/vitessio/vitess/search?q={{ $val.Name }}&type=code" target="_blank">{{ $val.Name }}</a></td>
                            <td class="text-right">{{ $val.Result.OpsStr }}</td>
                            <td class="text-right">{{ $val.Result.NSPerOpStr }}</td>
                            <td class="text-right">{{ $val.Result.MBPerSecStr }}</td>
                            <td class="text-right">{{ $val.Result.BytesPerOpStr }}</td>
                            <td class="text-right">{{ $val.Result.AllocsPerOpStr }}</td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                {{ else if not .microbenchmark }}
                    <div class="alert alert-warning" role="alert">
                        No micro benchmark results. You can <a href="/request_benchmark?s={{ .search }}&type=microbench">request</a> a run.
                    </div>
                {{ end }}

            {{ end }}


          </div>


            <!----------------------------------------------------------------------------------------------->
    </section>

  {{template "footerHTML" .}}

</body>

</html>
