<!--
Copyright 2021 The Vitess Authors.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!DOCTYPE html>
<html lang="en">

{{template "headHTML" .}}

<body>
  <div style="min-height: 90vh;">
    {{ template "navigation" "/status" }}

    <section class="py-4">
      <div class="container">
        <div class="card rounded">
          <h2 class="text-center card-header">Status</h2>
        </div>
      </div>
    </section>

    <div class="container-xxl">
      {{ if .queue }}
      <div class="card rounded mb-3">
        <h4 class="card-header text-center">Execution Queue</h4>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
              <tr style="border-top-style: hidden;">
                <th scope="col" class="text-center">SHA</th>
                <th scope="col" class="text-center">Source</th>
                <th scope="col" class="text-center">Type</th>
                <th scope="col" class="text-center">PR NB</th>
                <th scope="col" class="text-center">Planner Version</th>
              </tr>
            </thead>
            <tbody>
              {{ range $key, $elem := .queue }}
              <tr>
                <td class="text-center">
                  <a target="_blank" href="https://github.com/vitessio/vitess/commit/{{$key.GitRef}}">{{ first8Letters $key.GitRef }}</a>
                </td>
                <td class="text-center">{{ $key.Source }}</td>
                <td class="text-center">{{ $key.BenchmarkType }}</td>
                <td class="text-center">{{ $key.PullNb }}</td>
                <td class="text-center">{{ $key.PlannerVersion }}</td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
      {{ end }}

      {{ if .executions }}
      <div class="card rounded mb-3">
        <h4 class="card-header text-center">Previous Executions</h4>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
            <tr style="border-top-style: hidden;">
              <th scope="col" class="text-center">UUID</th>
              <th scope="col" class="text-center">SHA</th>
              <th scope="col" class="text-center">Source</th>
              <th scope="col" class="text-center">Started</th>
              <th scope="col" class="text-center">Finished</th>
              <th scope="col" class="text-center">Type</th>
              <th scope="col" class="text-center">Pull Request</th>
              <th scope="col" class="text-center">Planner</th>
              <th scope="col" class="text-center">Go Version</th>
              <th scope="col" class="text-center">Status</th>
            </tr>
            </thead>
            <tbody>
            {{ range $exec := .executions }}
            <tr>
              <th class="text-center">{{ first8Letters (uuidToString $exec.UUID) }}</th>
              <td class="text-center">
                <a target="_blank" href="https://github.com/vitessio/vitess/commit/{{$exec.GitRef}}">{{ first8Letters $exec.GitRef }}</a>
              </td>
              <td class="text-center">{{ $exec.Source }}</td>
              <td class="text-center">{{ timeToDateString $exec.StartedAt }}</td>
              <td class="text-center">{{ timeToDateString $exec.FinishedAt }}</td>
              <td class="text-center">{{ $exec.TypeOf }}</td>
              <td class="text-center">
                {{ if gt $exec.PullNB 0 }}
                  <a href="https://github.com/vitessio/vitess/pull/{{$exec.PullNB}}">{{ $exec.PullNB }}</a>
                {{ else }}
                  {{ $exec.PullNB }}
                {{ end }}
              </td>
              <td class="text-center">{{ $exec.VtgatePlannerVersion }}</td>
              <td class="text-center">{{ $exec.GolangVersion }}</td>
              <td class="text-center">
                {{ if eq $exec.Status "finished" }}
                <span class="badge badge-pill badge-success">{{ $exec.Status }}</span>
                {{ else if eq $exec.Status "failed" }}
                <span class="badge badge-pill badge-danger">{{ $exec.Status }}</span>
                {{ else if eq $exec.Status "started" }}
                <span class="badge badge-pill badge-primary">{{ $exec.Status }}</span>
                {{ else }}
                <span class="badge badge-pill badge-secondary">{{ $exec.Status }}</span>
                {{ end }}
              </td>
            </tr>
            {{ end }}
            </tbody>
          </table>
        </div>
      </div>
      {{ end }}

    </div>

  </div>

  </div>
  {{template "footerHTML" .}}
</body>

</html>
