mysql-connector-python
schedule
pyyaml
pysftp
packet-python
ansible==2.9.12
molecule[ansible, docker]
jmespath
flask
slackclient
supervisor
gunicorn
asyncio
gitpython
flask_sslify
pyOpenSSL
click
setuptools
