@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1F1D1D;
  font-family: 'Rubik', sans-serif;
  
}



/*Basic class*/

.flex,
.justify--content{
  display: flex;
}

.justify--content{
  justify-content: center;
}