.macro{
    color: white;
    padding: 0px 20px 0px 20px;
}

.macro__top{
    margin-top: 100px;
    
}

.macro__top__text{
    width: 50%;
    margin-right: 200px;
}

.macro__top__text h2{
    font-size: 5rem;
    font-weight:100;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 100%
}

.macro__top__text span{
    color: #B5ADAD;
    width: 60%;
    line-height: 40px;
}

.macroStats{
    border: solid 2px white;
    width: 400px;
    height: 400px;
}