.previousExeRes{
    text-align: start;
    height: 200px;
    width: 100%;
    background: none;
    
}
.previousExeRes td{
    padding-top: 20px;
}

.previousExeRes__span{
    padding-left: 20px;
}
.previousExeRes__containter{
    width: 100%;
    padding-top: 20px;
}


.previousExeRes__td{
    display: grid;
    grid-column: span;
}

.fa-arrow-right{
    color: rgb(248, 107, 37);
}

@media only screen and (min-width: 1225px) {
    .previousExeRes{
        display: none;
    }
}