*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1F1D1D;
  
  
}



/*Basic class*/

.flex,
.justify--content{
  display: flex;
}
.justify--content{
  justify-content: center;
}