GOMAXPROCS={{ (ansible_processor_vcpus > vttablet_max_goproc) | ternary(vttablet_max_goproc,ansible_processor_vcpus) }}
GOGC=500
{% if vitess_major_version >= 19 %}
GOMEMLIMIT=128MiB
{% endif %}

VTROOT={{ tablet.root | default(vitess_root) }}

CELL={{ tablet.cell | default(vitess_cell) }}
KEYSPACE={{ tablet.keyspace }}
SHARD={{ tablet.shard }}
TOPO_IMPLEMENTATION=etcd2
TOPO_GLOBAL_ROOT=/vitess/{{vitess_cluster}}
{% set all_etcd_endpoints = [] -%}
{% for host in groups[etcd_master_group] -%}
  {% set ip = hostvars[host]['ansible_default_ipv4']['address'] -%}
  {% set _ = all_etcd_endpoints.append("%s:2379" % (ip)) -%}
{% endfor -%}
TOPO_GLOBAL_SERVER_ADDRESS={{ all_etcd_endpoints | join(',') }}
CELL_ROOT=/vitess/{{vitess_cluster}}/{{tablet.cell | default(vitess_cell)}}
CELL_TOPO_SERVER={{ all_etcd_endpoints | join(',') }}

TABLET_TYPE={{ tablet.type | default(default_tablet_type) }}
TABLET_PORT={{ tablet.port | default(vttablet_port) }}
GRPC_PORT={{ tablet.grpc_port | default(vttablet_grpc_port) }}
MYSQL_PORT={{ tablet.mysql_port | default(vttablet_mysql_port) }}
MYSQLD_EXPORTER_PORT=:{{ tablet.mysqld_exporter_port | default(mysqld_exporter_port) }}

EXTRA_MY_CNF=/etc/vitess/extra_my{{ tablet.id | default('') }}.cnf

EXTRA_VTTABLET_FLAGS="--alsologtostderr \
    --queryserver-config-max-result-size=100000 \
    --queryserver-config-pool-size={{ tablet.connection_pool_size | default(vttablet_connection_pool_size) }} \
    --queryserver-config-stream-pool-size={{ tablet.stream_pool_size | default(vttablet_stream_pool_size) }} \
    --queryserver-config-transaction-cap={{ tablet.transaction_cap | default(vttablet_transaction_cap) }} \
    {% if vitess_major_version <= 18 %}
      --queryserver-config-query-timeout=900 \
      --queryserver-config-schema-reload-time=60 \
      --queryserver-config-transaction-timeout=300 \
    {% else %}
      --queryserver-config-query-timeout=900s \
      --queryserver-config-schema-reload-time=60s \
      --queryserver-config-transaction-timeout=300s \
    {% endif %}
    --grpc_max_message_size=67108864 \
    --db_charset=utf8 \
    {% if pprof_targets is defined %}
        {% for target in pprof_targets if target == "vttablet" %}
            -pprof {{ pprof_args }},path=/tmp/pprof/vttablet-{{ tablet.id }},waitSig \
        {%- endfor %}
    {% endif %}
    {{ tablet.extra_flags | default("") }} \
    {{ extra_vttablet_flags | default("") }} \
"
