td{
    padding: 20px 0px;
    text-align: center;
}

.tdPR{
    min-width: 5em;
}

a{
    text-decoration: none;
    color:#E77002
}



.tdStatus{
    padding: 3px 20px;
    border-radius: 20px;
    
}


.finished {
    background-color: green;
}
  
.failed {
    background-color: red;
}
.started{
    background-color: rgb(0, 92, 241);
}
.default{
    background-color: grey;
}

