<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vitess Benchmark</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/full-width-pics.css') }}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="https://vitess.io/img/logos/vitess.png" style="height:2rem" />
                Benchmark</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/information">Information
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search_compare">Search or Compare</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/request_benchmark">Request Benchmark Run</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--------------------------------------------------------------------------- Information ---------------------------------------------------------------------------------------------->

    <section class="py-5">
        <div class="container">
            <h1>Information</h1>
            <p class="lead"></p>
            <p>The purpose of this project is do a benchmark when ever there is a push. The background activity is fairly simple, we create our own bare metal 
                server. Once this server is created we run a bunch of ansibles(for sysbench) and once the run is complete we read the results and store them in a mysql instance. 
                Once the following operations are complete we take down the server.  
            </p>
            <br>
            <h5>We use Packet the API to control starting and killing a bare metal server</h5>
            <br>
            <h5>Baremetal server specs (m2.xlarge.x86)</h5>
            <p>- 2x Intel Scalable Gold 5120 28-Core Processor @ 2.2GHz
            <br>- 2x 120GB SSD1
            <br>- 1x 3.8TB NVME
            <br>- 384GB RAM
            <br>- 2x 10Gbps</p>

    </section>

    <hr style="background:black">

    <!--------------------------------------------------------------------------- Ansible ---------------------------------------------------------------------------------------------->
    <section class="py-5">
        <div class="container">
            <h2>Ansibles</h2>
            <p class="lead"></p>
            <p>To do our benchmarks we run a bunch of ansibles. The main role of the ansibles is to a sysbench benchmark. (@Dan to add more developed by him)</p>
            <script src="https://gist.github.com/Akilan1999/ba622af980aaf0cd891dc2e7e1cf9149.js"></script>
    </section>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!--------------------------------------------------------------------------- Stack ------------------------------------------------------------------------------------------------>

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Vitess 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

    <!-- Chart JS code -->

</body>

</html>