.header{
    height: 50px;
    background-color: #343A40;
    justify-content: space-between;
    
}
.logo__container{
    width: 200px;
    height: 100%;
    background: none;
    padding: 10px;
    
    
}
.logo__container img{
    width: 20%;
    height: 100%;
    background: none;
    object-fit: contain;
}
.logo__container span{
    background: none;
    font-size: 1.4rem;
    color: white;
}
.header__nav,
.header nav,
.header__nav ul,
.header__nav li,
.header__nav a {
    background: none;
}
.header__nav li{
    list-style: none;
    

}
.header__nav{
    justify-content: space-around;
    width: 100%;
    
}
.header__nav a{
    text-decoration: none;
    color:#B5ADAD;
    
}
.header__nav a:hover {
    color: white;
}
.header nav{
    
    width: 40%;
    align-items: center;
    display: flex;
    margin-right: 20px;
}

.active{
    color: white;
    text-decoration: underline;
}
