# Copyright 2021 The Vitess Authors.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#    http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: Clean Post Macrobench
  import_playbook: clean_macrobench.yml

- name: Build Vitess
  hosts: all
  roles:
    - role: vitess_build
      vars:
        - clean_vtgate: False
        - clean_vttablet: False
        - clean_vtctld: False

- name: Start etcd
  hosts:
    - etcd
  roles:
    - role: etcd
      vars:
        - etcd_launch: True

- hosts: vtctld
  roles:
    - role: vtctld
      vars:
        - clean_vtctld: False

- hosts: vtgate
  roles:
    - role: vtgate
      vars:
        - clean_vtgate: False
        - gateways_loadbalance: "{% set targets = [] -%}{% for host in groups['vtgate'] -%}{% for gateway in hostvars[host]['gateways'] -%}{{ targets.append( hostvars[host]['ansible_default_ipv4']['address']+':'+(gateway.mysql_port | default(13306) | string )) }}{% endfor -%}{% endfor -%}{{ targets }}"

- hosts: vttablet
  roles:
    - role: vttablet
      vars:
        - clean_vttablet: False

- name: Install and build sysbench
  hosts:
    - all
  tasks:
    - name: Install sysbench
      include_role:
        name: sysbench
        tasks_from: install

- hosts: vtctld
  tasks:
    - name: Gather facts
      setup:
        gather_subset: network

    - name: print
      debug:
        msg: Groups {{ groups['vtctld'][0] }}

    - include_role:
        name: vtctld
        tasks_from: ensure

    - name: Get VSchema for OLTP
      copy:
        src: "{{ macrobenchmark_vschema_oltp }}"
        dest: /tmp/vschema_sysbench.json
        mode: '0644'
        force: true
      when: arewefastyet_execution_type == 'oltp'

    - name: Get VSchema for TPCC
      copy:
        src: "{{ macrobenchmark_vschema_tpcc }}"
        dest: /tmp/vschema_sysbench.json
        mode: '0644'
        force: true
      when: arewefastyet_execution_type == 'tpcc'

    - name: Apply VSchmea
      shell: |
        vtctlclient -server {{ groups['vtctld'][0] }}:15999 ApplyVSchema -vschema="$(cat /tmp/vschema_sysbench.json)" main
