# Copyright 2021 The Vitess Authors.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#    http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
all:
  hosts:
    DEVICE_IP_0:
      storage_device:
        device: nvme0n1
        partition: nvme0n1p1
  vars:
    arewefastyet_git_repo: "https://github.com/vitessio/arewefastyet.git"
    arewefastyet_git_version: "main"
    cell: local
    keyspace: main
    provision: 1
  children:
    macrobench:
      hosts:
        DEVICE_IP_0:
      vars:

        vtgate_web_ports: "15001,15002,15003"
    sysbench:
      hosts:
        DEVICE_IP_0:
    prometheus:
      hosts:
        DEVICE_IP_0:
    etcd:
      hosts:
        DEVICE_IP_0:
    vtctld:
      hosts:
        DEVICE_IP_0:
    vtgate:
      vars:
        vtgate_max_goproc: 42
      hosts:
        DEVICE_IP_0:
          gateways:
            - id: 1
              port: 15001
              mysql_port: 13306
              grpc_port: 15306
            - id: 2
              port: 15002
              mysql_port: 13307
              grpc_port: 15307
            - id: 3
              port: 15003
              mysql_port: 13308
              grpc_port: 15308
    vttablet:
      vars:
        vitess_memory_ratio: 0.8
        vttablet_max_goproc: 42
      hosts:
        DEVICE_IP_0:
          # all_tablets is a list of all the possible tablets in the cluster
          # this list is used to properly clean up the machine from all tablets
          # if the previous benchmark was a sharded cluster and it had failed
          # and was not able to clean up correctly, using the unsharded list of
          # tablets will results in a not complete clean up as we would only remove
          # two tablets instead of four.
          all_tablets:
            - id: 1001
              keyspace: main
              shard: 0
              pool_size: 500
              transaction_cap: 2000
              port: 16011
              grpc_port: 17011
              mysql_port: 18011
              mysqld_exporter_port: 9104
            - id: 1002
              keyspace: main
              shard: 0
              pool_size: 500
              transaction_cap: 2000
              port: 16012
              grpc_port: 17012
              mysql_port: 18012
              mysqld_exporter_port: 9105
            - id: 2001
              keyspace: main
              shard: 0
              pool_size: 500
              transaction_cap: 2000
              port: 16021
              grpc_port: 17021
              mysql_port: 18021
              mysqld_exporter_port: 9106
            - id: 2002
              keyspace: main
              shard: 0
              pool_size: 500
              transaction_cap: 2000
              port: 16022
              grpc_port: 17022
              mysql_port: 18022
              mysqld_exporter_port: 9107
          # tablets is the list of tablets to use for this unsharded benchmark
          tablets:
            - id: 1001
              keyspace: main
              shard: 0
              pool_size: 500
              transaction_cap: 2000
              port: 16011
              grpc_port: 17011
              mysql_port: 18011
              mysqld_exporter_port: 9104
            - id: 1002
              keyspace: main
              shard: 0
              pool_size: 500
              transaction_cap: 2000
              port: 16012
              grpc_port: 17012
              mysql_port: 18012
              mysqld_exporter_port: 9105
