.macrobench__mobile h3{
    font-size: 1.5rem;
    font-weight: 200;
}

.macrobench__mobile{
    display: none;
}

@media only screen and (max-width: 767px){
    .macrobench__mobile{
        display: contents;
    }
}