@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 29 98% 46%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --front: 0 0% 10%;
    --back: 0 0% 100%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0;
    --foreground: 0 0% 100%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 29 98% 46%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 48 100% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --front: 0 0% 100%;
    --back: 0 0% 10%;
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@layer base {
  /* setting default background, text color and font */
  html {
    @apply bg-background text-front font-opensans scroll-smooth;
  }

  /* removing any margin and padding from body for future updates to tailwind base */
  body {
    @apply m-0 p-0;
  }
}

@layer utilities {
  .p-page {
    @apply px-[5vw];
  }

  .absolute-cover {
    @apply absolute top-0 left-0 w-full h-full;
  }

  .counter {
    transition: --num 4s ease-out;
    counter-set: num var(--num);
    @apply after:content-[counter(num)];
  }
}
