name: Golang Build CLI

on: [push, pull_request]

jobs:

  build:
    name: Build CLI binary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.0

      - name: Build
        run: make
