name: Molecule Test vitess_build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.7.9]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Update pip
        run: |
          python -m pip install --upgrade pip

      - name: Install virtualenv
        run: |
          pip3 install virtualenv

      - name: Install docker
        run: |
          sudo apt install docker
      
      - name: Set up virtualenv
        run: |
          virtualenv --python=python${{ matrix.python-version }} benchmark
          source benchmark/bin/activate
          pip install -r requirements.txt


      - name: Test with molecule
        run: |
          source benchmark/bin/activate
          cd ansible/roles/vitess_build
          molecule test