<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arewefastyet Admin</title>
    <link rel="icon" type="image/png" href="/admin/assets/favicon.ico" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  </head>

  <body class="h-screen w-screen">
    {{ template "header.html" . }}
    <div class="flex h-full">
      <div class="bg-white w-1/5 h-full">{{ template "sidebar.html" . }}</div>
      {{ if eq .Page "newexec" }}
      <div class="bg-white flex-1 p-8">{{ template "add_new_executions.html" . }}</div>
      {{ else if eq .Page "clearqueue" }}
      <div class="bg-white flex-1 p-8">{{ template "clear_queue.html" . }}</div>
      {{ end }}
    </div>
  </body>
</html>
