<div id="content">
    <form>
        <div class="flex flex-row gap-4">
            <div>
                <label class="label">Source</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" name="source">
            </div>
            <div>
                <label class="label">SHA</label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" class="form-control" name="sha">
            </div>
        </div>
        <label>Workloads</label>
        <div class="flex flex-row gap-4">
            <div class="flex flex-col">
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="all" checked>
                    All</label>
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="OLTP"> OLTP</label>
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="OLTP-READONLY">
                    OLTP-READONLY</label>
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="OLTP-SET">
                    OLTP-SET</label>
            </div>
            <div class="flex flex-col">
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="TPCC"> TPCC</label>
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="TPCC_FK">
                    TPCC_FK</label>
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="TPCC_FK_UNMANAGED">
                    TPCC_FK_UNMANAGED</label>
                <label><input class="accent-orange-500" type="checkbox" name="workloads" value="TPCC_UNSHARDED">
                    TPCC_UNSHARDED</label>
            </div>
        </div>
        <div>
            <label class="label">Number of executions</label>
            <input
                class="shadow appearance-none border rounded w-20 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="number" name="numberOfExecutions" value="1" min="1" max="10">
        </div>

        <button hx-post="http://localhost:8080/api/executions/add"
            class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">Add Execution</button>
    </form>
</div>