<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Page</title>
    <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col items-center justify-center h-screen bg-white">
    <div class="flex flex-row">
        <img src="/assets/logo.png" class="h-12" alt="logo">
        <h1 class="text-3xl font-bold mb-2">arewefastyet</h1>
    </div>
    <h2 class="text-5xl font-semibold text-orange-500 mb-8">Admin Login</h2>
    <img src="/assets/github-icon.png" alt="GitHub Icon" class="w-32 h-32">
    <button
        class="bg-black text-white flex items-center justify-center gap-2 px-4 py-2 rounded-md hover:bg-gray-800 transition mx-auto">
        <a href="/login">Sign in with GitHub</a>
    </button>
</body>

</html>