<div id="sidebar">
    <div class="mb-8">
        <img src="/assets/logo.png" alt="Logo" class="mb-4" style="max-width: 100px;">
        <h1 class="text-3xl font-bold text-orange-600">arewefastyet</h1>
    </div>
    <nav>
        <ul>
            <li class="mb-4">
                <a href="#" hx-get="/executions" hx-target="#content" hx-swap="outerHTML" class="text-orange-500 font-semibold">Add new executions</a>
            </li>
            <li class="mb-4">
                <a href="#" hx-get="/settings" hx-target="#content" hx-swap="outerHTML" class="text-gray-500 hover:text-orange-500">Settings</a>
            </li>
            <!-- Add more links here as needed -->
        </ul>
    </nav>
</div>
