<div id="sidebar">
    <div class="mb-8">
        <a href="/admin/dashboard" class="cursor-pointer">
            <img src="/assets/logo.png" alt="Logo" class="mb-4" style="max-width: 100px;">
            <h1 class="text-3xl font-bold text-orange-600">arewefastyet</h1>
        </a>
    </div>
    <nav>
        <ul>
            <li class="mb-4">
                <a href="/executions" class="text-orange-500 font-semibold">Add new executions</a>
            </li>
            <li class="mb-4">
                <a href="/settings" class="text-gray-500 hover:text-orange-500">Settings</a>
            </li>
        </ul>
    </nav>
</div>
