# Copyright 2021 The Vitess Authors.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#    http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: Ensure Primary
  register: ensure
  shell: |
    alias vc="vtctlclient --server {{ groups['vtctld'][0] }}:15999"
    for keyspace in $(vc GetKeyspaces); do
        echo "working on ${keyspace}"
        for shard in $(vc FindAllShardsInKeyspace ${keyspace} | jq -r 'keys[]'); do
            echo "working on ${shard}"
            master=$(vc ListShardTablets ${keyspace}/${shard} | grep primary)
            if [ -z "${master}" ]; then
              echo "setting primary for ${keyspace}/${shard}"
              vc InitShardPrimary --force ${keyspace}/${shard} $(vc ListShardTablets ${keyspace}/${shard} | awk '{ print $1 }' | head -n1)
            else
              vc SetReadWrite $(echo ${master} | awk '{ print $1 }' | head -n1)
            fi
        done
    done
  changed_when: false

- name: Ensure Master
  when: not ensure.rc == 0
  shell: |
    alias vc="vtctlclient -server {{ groups['vtctld'][0] }}:15999"
    for keyspace in $(vc GetKeyspaces); do
        echo "working on ${keyspace}"
        for shard in $(vc FindAllShardsInKeyspace ${keyspace} | jq -r 'keys[]'); do
            echo "working on ${shard}"
            master=$(vc ListShardTablets ${keyspace}/${shard} | grep master)
            if [ -z "${master}" ]; then
              echo "setting master for ${keyspace}/${shard}"
              vc InitShardMaster -force ${keyspace}/${shard} $(vc ListShardTablets ${keyspace}/${shard} | awk '{ print $1 }')
            else
              vc SetReadWrite $(echo ${master} | awk '{ print $1 }')
            fi
        done
    done
  changed_when: false
  failed_when: false