---
- name: ensure vitess group
  become: yes
  become_user: root
  group:
    name: '{{ vitess_group }}'
    state: present

- name: ensure vitess user
  become: yes
  become_user: root
  user:
    name: '{{ vitess_user }}'
    group: '{{ vitess_group }}'
    state: present

- name: ensure vitess directories
  become: yes
  become_user: root
  file:
    state: directory
    path:   '{{ vitess_root }}'
    owner:  '{{ vitess_user }}'
    group:  '{{ vitess_group }}'
    mode: 0755

- name: ensure config directories
  become: yes
  become_user: root
  with_items:
    - /etc/vitess/conf
  file:
    state: directory
    path: '{{ item }}'
    owner: '{{ vitess_user }}'
    group: '{{ vitess_group }}'
    mode: 0644

- name: install config
  become: yes
  become_user: root
  register: vtctld_service_modified
  with_items:
    - s: vtctld.conf
      d: '/etc/vitess/conf/vtctld-{{ vitess_cell }}.conf'
    - s: vtctld@.service
      d: /etc/systemd/system/vtctld@.service
    - s: cell@.service
      d: /etc/systemd/system/cell@.service
  template:
    src: '{{ item.s }}.j2'
    dest: '{{ item.d }}'
    owner: '{{ vitess_user }}'
    group: '{{ vitess_group }}'
    mode: '0644'
  notify:
    - restart vtctld

- name: systemctl daemon-reload
  become: yes
  become_user: root
  when: vtctld_service_modified is changed
  systemd:
    daemon_reload: yes

- name: start cell
  become: yes
  become_user: root
  when:
    - enable_vtctld | bool
  service:
    name: cell@{{ vitess_cell }}
    enabled: yes
    state: started

- name: start vtctld
  become: yes
  become_user: root
  when:
    - enable_vtctld | bool
  service:
    name: vtctld@{{ vitess_cell }}
    enabled: yes
    state: started
